<page-title [heading]="'Gallery'"></page-title>
<div class="container">
<div class="row mb-5">
<div *ngFor="let file of files | async" class="col-md-3 mb-4">
    <div class="card card-size">
      <div class="wrapper">
        <div *ngIf="file.metadata[0].rent===true" class="d-flex align-items-start flex-column pos-abs">
          <div class="mb-auto  text-white rented">Rent</div>
        </div>
        <div *ngIf="file.metadata[0].buy===true" class="d-flex align-items-start flex-column pos-abs">
          <div class="mb-auto text-white sale-fill" [class.mt-4]="file.metadata[0].buy===true && file.metadata[0].rent===true">Sale</div>
        </div>
        <div class="card-ht">
          <img class="card-img-top" src={{url}}{{file.filename}} alt="Card image cap">
        </div>
        <div class="portfolio-view  flex-column">
          <button class="mb-2 btn-lay primary" *ngIf="file.metadata[0].buy===true" mat-raised-button>BUY NOW</button>
          <button class="btn-lay secondary" *ngIf="file.metadata[0].rent===true" mat-raised-button>RENT STARTS AT
            $59/MONTH</button>
        </div>
      </div>

      <div class="card-body text-center">
        <h6 class="card-title">Dancing in the ruins</h6>
        <p class="card-text small-price" [class.mb-4]="file.metadata[0].rent===false || file.metadata[0].rent===''"
          *ngIf="file.metadata[0].buy===true">${{file.metadata[0].sellingPrice}}</p>
        <p [class.mb-custom]="file.metadata[0].buy===false || file.metadata[0].buy===''">
          <small class="text-muted" *ngIf="file.metadata[0].rent===true">Rent starts at
            ${{file.metadata[0].rentPrice}}/month</small>
        </p>
      </div>
    </div>

  </div>
</div>
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1500" (scrolled)="onScroll()">
</div>
<mat-spinner style="margin:0 auto;" *ngIf="!finished" [diameter]="40" color="warn"></mat-spinner>
<div class="text-center"  *ngIf="finished">
  <h5>That's all folks!</h5>
</div>
  <!-- <div class=col-md-3>
    <div class="card card-size">
      <div class="d-flex align-items-start flex-column">
        <div class="mb-auto text-white rented">Rented</div>
      </div>
      <div class="card-ht">
        <img class="card-img-top" src="./assets/picture2.jpg" alt="Card image cap">
      </div>
      <div class="card-body text-center">
        <h6 class="card-title">Letting your hair down</h6>
        <p class="card-text artist-name">by Rucha Chattur</p>
        <p class="card-text small-price">$150</p>
        <small class="text-muted">Rent starts at $59/month</small>
      </div>
    </div>
  </div>
  <div class=col-md-3>
    <div class="card card-size">
      <div class="d-flex align-items-start flex-column">
        <div class="mb-auto text-white sold">Sold</div>
      </div>
      <div class="card-ht">
        <img class="card-img-top" src="./assets/picture3.jpg" alt="Card image cap">
      </div>
      <div class="card-body text-center">
        <h6 class="card-title">Dazzled by Daisies</h6>
        <p class="card-text artist-name">by Rucha Chattur</p>
        <p class="card-text small-price">$150</p>
        <small class="text-muted">Rent starts at $59/month</small>
      </div>
    </div>
  </div>
  <div class=col-md-3>
    <div class="card card-size">
      <div class="d-flex align-items-start flex-column">
        <div class="mb-auto text-white sale-fill">Sale</div>
      </div>
      <div class="card-ht">
        <img class="card-img-top" src="./assets/picture4.jpg" alt="Card image cap">
      </div>
      <div class="card-body text-center">
        <h6 class="card-title">An evening by the bridge</h6>
        <p class="card-text artist-name">by Rucha Chattur</p>
        <p class="card-text small-price">$150</p>
        <small class="text-muted">Rent starts at $59/month</small>
      </div>
    </div>
  </div>
</div> -->
  <!-- <div class="row mb-5">
  <div class=col-md-3>
    <div class="card card-size">
      <div class="d-flex align-items-start flex-column">
        <div class="mb-auto  text-white sale-fill">Sale</div>
      </div>
      <div class="card-ht">
        <img class="card-img-top" src="./assets/picture5.jpg" alt="Card image cap">
      </div>
      <div class="card-body text-center">
        <h6 class="card-title">Nature revisited</h6>
        <p class="card-text artist-name">by Rucha Chattur</p>
        <p class="card-text small-price">$150</p>
        <small class="text-muted">Rent starts at $59/month</small>
      </div>
    </div>
  </div>
  <div class=col-md-3>
    <div class="card card-size">
      <div class="d-flex align-items-start flex-column">
        <div class="mb-auto text-white rented">Rented</div>
      </div>
      <div class="card-ht">
        <img class="card-img-top" src="./assets/picture6.jpg" alt="Card image cap">
      </div>
      <div class="card-body text-center">
        <h6 class="card-title">Nature revisited</h6>
        <p class="card-text artist-name">by Rucha Chattur</p>
        <p class="card-text small-price">$150</p>
        <small class="text-muted">Rent starts at $59/month</small>
      </div>
    </div>
  </div>
  <div class=col-md-3>
    <div class="card card-size">
      <div class="d-flex align-items-start flex-column">
        <div class="mb-auto text-white sold">Sold</div>
      </div>
      <div class="card-ht">
        <img class="card-img-top" src="./assets/picture7.jpg" alt="Card image cap">
      </div>
      <div class="card-body text-center">
        <h6 class="card-title">Nature revisited</h6>
        <p class="card-text artist-name">by Rucha Chattur</p>
        <p class="card-text small-price">$150</p>
        <small class="text-muted">Rent starts at $59/month</small>
      </div>
    </div>
  </div>
  <div class=col-md-3>
    <div class="card card-size">
      <div class="d-flex align-items-start flex-column">
        <div class="mb-auto text-white sale-fill">Sale</div>
      </div>
      <div class="card-ht">
        <img class="card-img-top" src="./assets/picture8.jpg" alt="Card image cap">
      </div>
      <div class="card-body text-center">
        <h6 class="card-title">Hot and cold</h6>
        <p class="card-text artist-name">by Rucha Chattur</p>
        <p class="card-text small-price">$150</p>
        <small class="text-muted">Rent starts at $59/month</small>
      </div>
    </div>
  </div>
</div> -->
  <!-- <div class="row mb-5">
  <div class=col-md-3>
    <div class="card card-size">
      <div class="d-flex align-items-start flex-column">
        <div class="mb-auto  text-white sale-fill">Sale</div>
      </div>
      <div class="card-ht">
        <img class="card-img-top" src="./assets/picture9.jpg" alt="Card image cap">
      </div>
      <div class="card-body text-center">
        <h6 class="card-title">Hot and cold</h6>
        <p class="card-text artist-name">by Rucha Chattur</p>
        <p class="card-text small-price">$150</p>
        <small class="text-muted">Rent starts at $59/month</small>
      </div>
    </div>
  </div>
  <div class=col-md-3>
    <div class="card card-size">
      <div class="d-flex align-items-start flex-column">
        <div class="mb-auto text-white rented">Rented</div>
      </div>
      <div class="card-ht">
        <img class="card-img-top" src="./assets/picture10.jpg" alt="Card image cap">
      </div>
      <div class="card-body text-center">
        <h6 class="card-title">Autumn in park</h6>
        <p class="card-text artist-name">by Rucha Chattur</p>
        <p class="card-text small-price">$150</p>
        <small class="text-muted">Rent starts at $59/month</small>
      </div>
    </div>
  </div>
  <div class=col-md-3>
    <div class="card card-size">
      <div class="d-flex align-items-start flex-column">
        <div class="mb-auto text-white sold">Sold</div>
      </div>
      <div class="card-ht">
        <img class="card-img-top" src="./assets/picture11.jpg" alt="Card image cap">
      </div>
      <div class="card-body text-center">
        <h6 class="card-title">Nature revisited</h6>
        <p class="card-text artist-name">by Rucha Chattur</p>
        <p class="card-text small-price">$150</p>
        <small class="text-muted">Rent starts at $59/month</small>
      </div>
    </div>
  </div>
  <div class=col-md-3>
    <div class="card card-size">
      <div class="d-flex align-items-start flex-column">
        <div class="mb-auto text-white sale-fill">Sale</div>
      </div>
      <div class="card-ht">
        <img class="card-img-top" src="./assets/picture12.jpg" alt="Card image cap">
      </div>
      <div class="card-body text-center">
        <h6 class="card-title">The brick wall</h6>
        <p class="card-text artist-name">by Rucha Chattur</p>
        <p class="card-text small-price">$150</p>
        <small class="text-muted">Rent starts at $59/month</small>
      </div>
    </div>
  </div>
</div> -->
