<div class="row mb-5 mt-5">
  <div class="text-center text-muted col-md-12 col-sm-12 col-xs-12" *ngIf="!isArtPresent">
    <h3>{{message}}</h3>
  </div>
<div *ngFor="let file of files | async" class="col-md-3 mb-4">
    <div class="card card-size">
      <div class="wrapper">

        <div *ngIf="file.metadata[0].rent===true" class="d-flex align-items-start flex-column pos-abs">
          <div class="mb-auto  text-white rented">Rent</div>
        </div>
        <div *ngIf="file.metadata[0].buy===true" class="d-flex align-items-start flex-column pos-abs">
          <div class="mb-auto text-white sale-fill" [class.mt-4]="file.metadata[0].buy===true && file.metadata[0].rent===true">Sale</div>
        </div>
        <div class="card-ht">
          <img class="card-img-top" src={{file.url}} alt="Card image cap">
        </div>
      </div>

      <div class="card-body text-center">
        <div class="d-flex justify-content-center mb-3">
          <mat-chip-list>
            <mat-chip class="approve" *ngIf="file.metadata[0].approvalStatus==='approved'" selected>Approved</mat-chip> 
            <mat-chip color="warn" *ngIf="file.metadata[0].approvalStatus==='rejected'" selected>Rejected</mat-chip>
            <mat-chip color="warn" *ngIf="file.metadata[0].approvalStatus==='pending'" selected>Approval Pending</mat-chip>
          </mat-chip-list>
        </div>

        <h6 class="card-title text-capitalize">{{file.metadata[0].name}}</h6>
        <p class="card-text artist-name text-capitalize">by {{file.metadata[0].artBy}}</p>
        <p class="card-text small-price" [class.mb-3]="file.metadata[0].sellingPrice===null"
          *ngIf="file.metadata[0].buy===true">{{file.metadata[0].sellingPrice | currency}}</p>
        <p [class.mb-custom]="file.metadata[0].buy===false">
          <small class="text-muted text-capitalize" *ngIf="file.metadata[0].rent===true && file.metadata[0].rentPrice">Rent starts at
            {{file.metadata[0].rentPrice | currency}}/month</small>
        </p>
      </div>
    </div>
  </div>
  </div>
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1500" (scrolled)="onScroll()">
</div>
<mat-spinner style="margin:0 auto;" *ngIf="!finished" [diameter]="40" color="warn"></mat-spinner>
