.navbar-brand {
  font-size: 1rem;
}
.navbar {
  padding: 1.4rem 1rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.48);
}
.text-black {
  color: #333;
}
.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}
.logo {
  max-width: 203px;
  max-height: 60px;
}
.mt-4_5{
  margin-top: 2.5rem !important;
  background-color : #fff;
}
.dropdown-toggle::after {
  content: none;
}
.icon-color{
  color: #EC5A93;
}
.text-grey {
  color: #9E9E9E !important;
}
.arrow::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -0.1em;
  width: 0;
  height: 0;
  display: block;
  height: 0;
  width: 0;
  border-top: .267rem solid #EC5A93;
  border-right: .267rem solid transparent;
  border-left: .267rem solid transparent;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

@media (max-width: 767px) {
  .mt-4_5{
    margin-top: 4rem !important;
  }
}