<section class="layover">
  <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows">
    <ng-template ngbSlide>
      <div class="slide-gradient">
        <img [src]="images[0].url" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3 class="carousel-text">WE <span class="carousel-subtext">have </span> <span class="carousel-text">ART </span>
          <span class="carousel-subtext">in our Hearts,</span> </h3>
        <h3 class="carousel-text">YOU <span class="carousel-subtext">have your Heart in </span><span class="carousel-text">ART</span></h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="slide-gradient">
        <img [src]="images[1].url" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3 class="carousel-text">YOU <span class="carousel-subtext">provide the art,</span> </h3>
        <h3 class="carousel-text">WE <span class="carousel-subtext">provide the Spaces</span></h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="slide-gradient">
        <img [src]="images[2].url" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3 class="carousel-text">YOUR MISSION:<span class="carousel-subtext"> Build your series</span> </h3>
        <h3 class="carousel-text">OURS : <span class="carousel-subtext">Build your audience</span></h3>
      </div>
    </ng-template>
  </ngb-carousel>

</section>
<div class="container">
  <section class="page-heading mt-5 mb-5">
    <h2 class="text-center cabin-font">How it<span class="channel-font"> works?</span></h2>
    <p class="text-center sub-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut ullamcorper
      enim, vestibulum dignissim augue. Proin elementum
      enim sit amet sodales ornare. Suspendisse commodo semper tellus.</p>
  </section>
  <section id="profile-cards">
    <div class="d-md-flex flex-row">
      <div class="p-2">
        <img class="card-img-top" src="./assets/card1.svg" alt="Card image cap">
        <h4 class="padding-top15">Create your Profile</h4>
        <p>Integer rutrum pulvinar ex nec hendrerit,integer et dui turpis.</p>
      </div>
      <div class="p-2">
        <img class="card-img-top" src="./assets/upload-image.svg" alt="Card image cap">
        <h4 class="padding-top15">Upload your Artwork</h4>
        <p>Integer rutrum pulvinar ex nec hendrerit,integer et dui turpis.</p>
      </div>
      <div class="p-2">
        <img class="card-img-top" src="./assets/preference.svg" alt="Card image cap">
        <h4 class="padding-top15">Select your preference</h4>
        <p>Integer rutrum pulvinar ex nec hendrerit,integer et dui turpis.</p>
      </div>

      <div class="p-2">
        <img class="card-img-top" src="./assets/review.svg" alt="Card image cap">
        <h4 class="padding-top15">Get it reviewed and approved</h4>
        <p>Integer rutrum pulvinar ex nec hendrerit,integer et dui turpis.</p>
      </div>
      <div class="p-2">
        <img class="card-img-top" src="./assets/feature.svg" alt="Card image cap">
        <h4 class="padding-top15">Get Featured</h4>
        <p>Integer rutrum pulvinar ex nec hendrerit,integer et dui turpis.</p>
      </div>
    </div>
  </section>
  <section id="buttons-section">
    <div class="d-md-flex flex-row justify-content-center">
      <div class="p-5 align-content-center">
        <h4>Learn how to earn</h4>
<a class="custom-btn btn btn-primary btn-lg" href="mailto:artists@spacesnstories.com?Subject=Help%20Me%20Get%20Featured">Get
  In
  Touch</a>
      </div>
      <div *ngIf="!userRole"class="p-5 align-content-center">
        <h4>Start today!</h4>
        <button routerLink="/login" type="button" class="btn btn-primary btn-lg">Register Now</button>
      </div>
    </div>
  </section>
</div>
<!-- <div class="container">
  <div class="row"> -->
<!-- <div class="col-sm-2">
<div class="card" >
  <img class="card-img-top" src="./assets/card1.svg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Create your profile</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  </div>
</div> -->
<!-- <div class="col-sm-2">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/card1.svg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div> -->
<!-- <div class="col-sm-2">
        <div class="card" >
          <img class="card-img-top" src="" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
          </div>
        </div> -->
<!-- <div class="col-sm-2">
            <div class="card" >
              <img class="card-img-top" src="" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
              </div>
            </div> -->
<!-- <div class="col-sm-2">
                <div class="card" >
                  <img class="card-img-top" src="" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                  </div>
                </div> -->

<!-- </div>
</div> -->
