<section class="layover">
  <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows">
    <ng-template ngbSlide>
<div class="slide-gradient slide-gradient-1">
        <img [src]="images[0].url" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3 class="carousel-text">WE <span class="carousel-subtext">have </span> <span class="carousel-text">ART </span>
          <span class="carousel-subtext">in our Hearts,</span> </h3>
        <h3 class="carousel-text">YOU <span class="carousel-subtext">have your Heart in </span><span class="carousel-text">ART</span></h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
<div class="slide-gradient slide-gradient-2">
        <img [src]="images[1].url" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3 class="carousel-text">YOU <span class="carousel-subtext">provide the art,</span> </h3>
        <h3 class="carousel-text">WE <span class="carousel-subtext">provide the Spaces</span></h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
<div class="slide-gradient slide-gradient-3">
        <img [src]="images[2].url" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3 class="carousel-text">YOUR MISSION:<span class="carousel-subtext"> Build your series</span> </h3>
        <h3 class="carousel-text">OURS : <span class="carousel-subtext">Build your audience</span></h3>
      </div>
    </ng-template>
  </ngb-carousel>

</section>
<div class="container">
  <section class="page-heading mt-5 mb-5">
    <h2 class="text-center cabin-font">How it<span class="channel-font"> works?</span></h2>
    <p class="p-overwrite text-center sub-heading">We have some simple steps designed to get you started quickly. Try
      them
      out !!.
      <p class="p-overwrite text-center sub-heading"> Have
        questions? We will be more than happy to answer.</p>
      <p class="p-overwrite text-center sub-heading">Drop us an email at <a class="" href="mailto:artists@spacesnstories.com?Subject=Query%20Regarding%20">artists@spacesnstories.com.</a></p>
  </section>
  <section id="profile-cards">
    <div class="d-lg-flex flex-row">
      <div class="d-flex align-items-center flex-column p-2">
        <img class="card-img-top" src="./assets/card1.svg" alt="Card image cap">
        <h4 class="padding-top15">Create your Profile</h4>
        <p>It will take less than a minute to create your profile.</p>
      </div>
      <div class="d-flex align-items-center flex-column p-2">
        <img class="card-img-top" src="./assets/upload-image.svg" alt="Card image cap">
        <h4 class="padding-top15">Upload your Artwork</h4>
        <p>Upload a good quality image of your original artwork along with it’s details.</p>
      </div>
      <div class="d-flex align-items-center flex-column p-2">
        <img class="card-img-top" src="./assets/preference.svg" alt="Card image cap">
        <h4 class="padding-top15">Select your preference</h4>
        <p>Select if you want to rent your artwork or sell original or prints.</p>
      </div>

      <div class="d-flex align-items-center flex-column p-2">
        <img class="card-img-top" src="./assets/review.svg" alt="Card image cap">
        <h4 class="padding-top15 line-ht-1199" >Get reviewed and approved</h4>
        <p>We will work with you to ensure you feature the right work in the right way.</p>
      </div>
      <div class="d-flex align-items-center flex-column p-2">
        <img class="card-img-top" src="./assets/feature.svg" alt="Card image cap">
        <h4 class="padding-top15">Get Featured</h4>
        <p>Once approved, your work will feature on the website and we will take it from there.</p>
      </div>
    </div>
  </section>
  <section id="buttons-section">
    <div class="d-md-flex flex-row justify-content-center">
      <div class="p-5 align-content-center">
        <h4>Learn how to earn</h4>
        <a class="custom-btn btn btn-primary btn-lg" href="mailto:artists@spacesnstories.com?Subject=Help%20Me%20Get%20Featured">Get
          In
          Touch</a>
      </div>
      <div *ngIf="!userRole" class="p-5 align-content-center">
        <h4>Start today!</h4>
        <button routerLink="/login" type="button" class="btn btn-primary btn-lg">Register Now</button>
      </div>
    </div>
  </section>
</div>
<!-- <div class="container">
  <div class="row"> -->
<!-- <div class="col-sm-2">
<div class="card" >
  <img class="card-img-top" src="./assets/card1.svg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Create your profile</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  </div>
</div> -->
<!-- <div class="col-sm-2">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/card1.svg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div> -->
<!-- <div class="col-sm-2">
        <div class="card" >
          <img class="card-img-top" src="" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
          </div>
        </div> -->
<!-- <div class="col-sm-2">
            <div class="card" >
              <img class="card-img-top" src="" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
              </div>
            </div> -->
<!-- <div class="col-sm-2">
                <div class="card" >
                  <img class="card-img-top" src="" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                  </div>
                </div> -->

<!-- </div>
</div> -->
