  <div class="row mt-5 mb-5">
    <div class="text-center text-muted col-md-12 col-sm-12 col-xs-12" *ngIf="!isArtPresent">
      <h3>{{message}}</h3>
    </div>
      <div *ngFor="let file of files | async" class="col-md-3 mb-4">
        <div class="card card-size">
          <div class="wrapper">

            <div *ngIf="file.metadata[0].rent===true" class="d-flex align-items-start flex-column pos-abs">
              <div class="mb-auto  text-white rented">Rent</div>
            </div>
            <div *ngIf="file.metadata[0].buy===true" class="d-flex align-items-start flex-column pos-abs">
              <div class="mb-auto text-white sale-fill" [class.mt-4]="file.metadata[0].buy===true && file.metadata[0].rent===true">Sale</div>
            </div>
            <div class="card-ht">
              <img class="card-img-top" src={{url}}{{file.filename}} alt="Card image cap">
            </div>
            <div class="portfolio-view  flex-column" *ngIf="file.metadata[0].approvalStatus==='pending'">
              <button class="mb-2 btn-lay approve" mat-raised-button (click)="openDialog('approve',file._id);">Approve</button>
              <button color="warn" class="btn-lay" mat-raised-button (click)="openDialog('reject',file._id);">Reject</button>
            </div>
          </div>

          <div class="card-body text-center">
            <h6 class="card-title">{{file.metadata[0].name}}</h6>
            <p class="card-text artist-name  text-capitalize">by {{file.metadata[0].artBy}}</p>
            <p class="card-text small-price" [class.mb-4]="file.metadata[0].rent===false || file.metadata[0].rent===''"
              *ngIf="file.metadata[0].buy===true">${{file.metadata[0].sellingPrice}}</p>
            <p [class.mb-custom]="file.metadata[0].buy===false || file.metadata[0].buy===''">
              <small class="text-muted" *ngIf="file.metadata[0].rent===true">Rent starts at
                ${{file.metadata[0].rentPrice}}/month</small>
            </p>
          </div>
        </div>

      </div>
  </div>
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1500" (scrolled)="onScroll()">
</div>
<mat-spinner style="margin:0 auto;" *ngIf="!finished" [diameter]="40" color="warn"></mat-spinner>

