.card-title {
  margin-bottom: 0.25rem;
}
.card-img-top {
  max-height: 360px;
}
h3 {
  font-family: 'Cabin-Regular', sans-serif;
}

.pos-abs {
  position: absolute;
}

p {
  margin-bottom: 0rem;
}

.artist-name {
  color: #6ECCF0;
  font-size: 90%;
}

.small,
small {
  font-size: 66%;
}

.card-body {
  padding: 0.5rem;
  max-height: 148px;
  min-height: 148px;
}

.small-price {
  font-size: 80%;
}

.card-ht {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 360px;
  border-bottom: 1px solid #f8f8f8;
}

.sale-fill {
  position: absolute;
  background-color: #35A8E6;
  z-index: 1;
  padding: 0 0.59em;
}

.rented {
  position: absolute;
  background-color: #EC5A93;
  z-index: 1;
  padding: 0 0.5em;
}

.sold {
  position: absolute;
  background-color: #E6BA35;
  z-index: 1;
  padding: 0 0.5em;
}
.portfolio-view {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 360px;
  background: #00000057;
  width: 100%;
  text-align: center;
}
.card:hover {
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
}
.wrapper {
  height: 100%;
}
.wrapper:hover .portfolio-view {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;
}
.btn-lay {
  min-width: 80%;
  font-size: 0.75em;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.secondary {
  background-color: #EC5A93;
}

.approve {
  background: linear-gradient(#35c350, #03b525);
}

.mb-custom {
  margin-bottom: 1.2rem !important
}

.icon-blue {
  color: midnightblue;
  cursor: pointer;
  font-weight: 1000;
}

.custom-margin-price {
  margin-bottom: -0.35rem !important;
}