<div class="row mb-5 mt-5">
  <!-- message component -->
  <div class="text-center text-muted col-md-12 col-sm-12 col-xs-12" *ngIf="!isArtPresent">
    <h3>{{message}}</h3>
  </div>
  <!-- card component -->
  <div *ngFor="let file of files | async" class="col-md-3 mb-4">
<div class="card card-size">
      <div class="wrapper">

        <div *ngIf="file.metadata[0].rentInformation.rent===true" class="d-flex align-items-start flex-column pos-abs">
          <div class="mb-auto  text-white rented">Rent</div>
        </div>
        <div *ngIf="file.metadata[0].buy===true" class="d-flex align-items-start flex-column pos-abs">
          <div *ngIf="consumer !=='gallery'" class="mb-auto text-white sale-fill" [class.mt-4]="file.metadata[0].buy===true && file.metadata[0].rentInformation.rent===true">Sale</div>
          <div *ngIf="consumer ==='gallery'"class="mb-auto text-white buy-fill" [class.mt-4]="file.metadata[0].buy===true && file.metadata[0].rentInformation.rent===true">Buy</div>
        </div>
        <div class="card-ht" (click)="showMoreInfo(file.metadata[0]);">
          <img class="card-img-top" src={{file.url}} alt="Card image cap">
        </div>

        <!-- For Admin Center-Pending-approvals section -->
        <div class="portfolio-view  flex-column" *ngIf="consumer =='admin-center' && file.metadata[0].approvalStatus==='pending'">
          <button class="mb-2 btn-lay approve" mat-raised-button (click)="openDialog('approve',file._id);">Approve</button>
          <button color="warn" class="btn-lay" mat-raised-button (click)="openDialog('reject',file._id);">Reject</button>
        </div>

      </div>
      
      <!-- Parent wrapper is common for both artist-center & admin-center -->
      <div class="card-body text-center">
        <!-- For artist: My Artworks section -->
        <div class="d-flex justify-content-center mb-3" [class.custom-card-margin]="(file.metadata[0].rentInformation.rent===true && file.metadata[0].dimension.height*file.metadata[0].dimension.width*file.metadata[0].dimension.depth > 0)" *ngIf="consumer =='artist-center'">
          <mat-chip-list>
            <mat-chip class="approve" *ngIf="file.metadata[0].approvalStatus==='approved'" selected>Approved</mat-chip>
            <mat-chip color="warn" *ngIf="file.metadata[0].approvalStatus==='rejected'" selected>Rejected</mat-chip>
            <mat-chip color="warn" *ngIf="file.metadata[0].approvalStatus==='pending'" selected>Approval Pending</mat-chip>
          </mat-chip-list>
        </div>

        <!-- For admin -->
        <div class="d-flex justify-content-center mb-3" [class.custom-card-margin]="(file.metadata[0].rentInformation.rent===true && file.metadata[0].dimension.height*file.metadata[0].dimension.width*file.metadata[0].dimension.depth > 0)" *ngIf="consumer =='admin-center' && (file.metadata[0].approvalStatus==='approved' || file.metadata[0].approvalStatus==='rejected')">
          <mat-chip-list>
            <mat-chip class="approve" *ngIf="file.metadata[0].approvalStatus==='approved'" selected>Approved</mat-chip>
            <mat-chip *ngIf="file.metadata[0].approvalStatus==='rejected'" color="warn" selected>Rejected</mat-chip>
          </mat-chip-list>
        </div>

        <!-- Common for both -->
        <h6 class="card-title text-capitalize">{{file.metadata[0].name}}
          <i *ngIf="consumer =='admin-center' && file.metadata[0].approvalStatus==='pending'" class="fa fa-info-circle icon-blue" aria-hidden="true" title="View more" (click)="showMoreInfo(file.metadata[0]);"></i></h6>
        <p class="card-text artist-name text-capitalize">by {{file.metadata[0].artBy}}</p>
        <small class="text-muted" *ngIf="file.metadata[0].dimension.height*file.metadata[0].dimension.width*file.metadata[0].dimension.depth > 0">{{file.metadata[0].dimension.height}} inch x {{file.metadata[0].dimension.width}} inch x {{file.metadata[0].dimension.depth}} inch</small>
        <p class="card-text small-price" [class.mb-3]="file.metadata[0].sellingPrice===null" *ngIf="file.metadata[0].buy===true">{{file.metadata[0].sellingPrice
          | currency}}</p>
        <p [class.mb-custom]="file.metadata[0].buy===false">
          <small class="text-muted text-capitalize" *ngIf="file.metadata[0].rentInformation.rent===true && file.metadata[0].rentInformation.rentPrice">Rent
            starts at
            {{file.metadata[0].rentInformation.rentPrice | currency}}/month</small>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Scroll component -->
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="3000" (scrolled)="onScroll()">
</div>
<!-- spinner -->
<mat-spinner style="margin:0 auto;" *ngIf="!finished" [diameter]="40" color="warn"></mat-spinner>
