/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Channel";
  src: url("./assets/fonts/Channel.ttf") format("truetype");
}
@font-face {
  font-family: "Cabin-Regular";
  src: url("./assets/fonts/Cabin-Regular.otf") format("opentype");
}
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html {
  position: relative;
}
button:focus {
  outline: none
}
body {
  font-family: 'Cabin-Regular', sans-serif;
  padding-top: 10.5rem;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  cursor: pointer;
}

 body>.container {
   padding: 0px 0px 0;
 }

p {
  font-family: 'Cabin-Regular', sans-serif;
}

a:hover {
  color: #9E9E9E !important;
  text-decoration: none;
}
h1,h2,h3,h4{
  font-family: "Channel", sans-serif;
}
.spinner-three-bounce {
  bottom: 50% !important;
}
