@font-face {
  font-family: "Channel";
  src: url("/assets/fonts/Channel.eot?") format("eot"),
  url("/assets/fonts/Channel.woff") format("woff"),
  url("/assets/fonts/Channel.ttf") format("truetype"),
  url("/assets/fonts/Channel.svg#Channel") format("svg");
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Cabin');

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
  position: relative;
}
button:focus {
  outline: none
}
body {
  font-family: 'Cabin', sans-serif;
  padding-top: 10.5rem;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  cursor: pointer;
}

 body>.container {
   padding: 0px 0px 0;
 }

p {
  font-family: 'Cabin', sans-serif;
}

a:hover {
  color: #9E9E9E !important;
  text-decoration: none;
}
h1,h2,h3,h4{
  font-family: "Channel", sans-serif;
}
.spinner-three-bounce {
  bottom: 50% !important;
}
